.header{
    width: 95%;
    margin: auto;
}
.header h2{
    color: rgb(135, 122, 220);
}
.mainPart{

}
.mimg{
    height: 125vh;
}
img{
    height: 100%;
    width: 100%;
}

button{
    border: 0;
    background-color: rgb(78, 160, 253);
    box-shadow: 4px 5px 5px 2px rgb(179, 179, 179);
}
input{
   border: 0;
   background-color: rgb(197, 197, 197);
}


@media screen and (min-width:450px){
    .mimg{
        height: 60vh;
    }
}